* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: sans-serif;
  background: #f5f5f5;
  padding-inline: max(calc(50vw - 600px), 1rem);
  min-height: 100vh;
}

.stack {
  display: flex;
  flex-direction: column;
  gap: 1rem;
  align-items: flex-start;
}

.stack.g0 {
  gap: 0.5rem;
  font-size: 0.9em;
}
